{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
    <div id="main" class="p-0">
        <section class="d-flex flex-column justify-content-center align-items-center intro flex-wrap bg-primary1">
            <div class="justify-content-center">
                <img src="images\" alt="ownerhome">
            </div>
            <div class="justify-content-center text-center">
                <h3>SOLVING A COMMON PROBLEM</h3>
                <div>
                    <h1>Finding a home in the big city</h1>
                </div>
            </div>
            <div class="justify-content-center">
                <p>Building a positive relationship doesn't take much effort and it all starts with one basic idea: communication. House Rental Management System app provides the solution by offering the ability to share issues between tenants and landlords which leads to rapid issue resolution and fewer misunderstanding.</p>
                <p>Finding a home in the big city. Young people faced different kinds of discrimination. Single women and bachelors are considered unreliable. Migrants from other places are viewed with suspicion as they appear as ‘foreigners’ in a new city. Further, many newcomers did not have the knowhow to get around, lacking access to local insights in a new city.</p>
                <p>We concluded that people leaving homes to relocate to another city needed more than just a house. They needed a place they could call home, a community where they would be accepted and a platform which allows connections to various other access points.</p>
            </div>
        </section>
</div>
{% endblock %}
