{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1 bg-light1 tenant" id="tenant-login">
                    <h3 class="login-head">Login for Tenant</h3>
                    <form action="login_tenant" action = "post">
                      {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" name="email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" name="password" />
                        </div>
                        <div class="d-flex flex-column justify-content-center text-center">
                            <div class="form-group">
                                <input type="submit" class="btnSubmitLogin" value="Login" />
                            </div>
                            <p style="color:black">or</p>
                            <div class="form-group">
                                <input type="button" class="btnSubmitSignUp" id="tenant-signup-btn" value="Register" />
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    </form>
                </div>

                <!-- Register for tenant -->
                <div class="col-md-6 login-form-1 bg-light1 tenant" id="tenant-signup">
                    <h3 class="login-head">SignUp for Tenant</h3>
                    <form action="register_tenant" method="post">
                      {% csrf_token%}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name *" name="first_name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name *" name="last_name" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" name="email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" name="password1"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password *" name="password2" />
                        </div>
                        <div class="d-flex flex-column justify-content-center text-center">
                            <div class="form-group">
                                <input type="submit" class="btnSubmitSignUp" value="SignUp" />
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Already Have Account?</a>
                        </div>
                        <!-- <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Phone no. *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Home Town Address *" value="" />
                        </div>
                        <div class="form-group">
                          <label class="radio-inline"><input type="radio" name="optradio">married</label>
                          <label class="radio-inline"><input type="radio" name="optradio">unmarried</label>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Employbility *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Highest Education Qualification *" value="" />
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Work Address *" value="" />
                        </div> -->
                    </form>
                </div>





                <div class="col-md-6 login-form-2 bg-dark1 owner" id="owner-login">
                    <h3 class="login-head">Login for Owner</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="d-flex flex-column justify-content-center text-center">
                            <div class="form-group">
                                <input type="submit" class="btnSubmitLogin" value="Login" />
                            </div>
                            <p style="color:white">or</p>
                            <div class="form-group">
                                <input type="button" class="btnSubmitSignUp" id="owner-signup-btn" value="Register" />
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </form>
                </div>



                <div class="col-md-6 login-form-2 bg-dark1 owner" id="owner-signup">
                    <h3 class="login-head">SignUp for Owner</h3>
                    <form action="register_owner" method = "post">
                      {% csrf_token%}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                        </div>
                        <div class="d-flex flex-column justify-content-center text-center">
                            <div class="form-group">
                                <input type="submit" class="btnSubmitSignUp"  value="SignUp" />
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}