{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
    <div id="main" class="p-0">
        <section class="d-flex flex-row justify-content-center align-items-center intro flex-wrap bg-primary1">
            <div class="justify-content-center">
                <img src="images\" alt="ownerhome">
            </div>
            <div class="justify-content-center">
                <div class="flex-column">
                    <h1>Your house</h1>
                    <h2>is our responsibility</h2>
                </div>
                <div class="flex-column">
                    <button>LIST YOUR PROPERTY HERE</button>
                </div>
            </div>
        </section>
        <section class="d-flex flex-column justify-content-center align-items-top p-2 flex-wrap bg-light1">
            <div class="text-center">
                <h2>How to get rent in few steps</h2>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                <div>
                    <div>
                        <span>
                            <img src="" alt="">
                        </span>
                        <span>
                            <h3 class="font-weight-bold">Submit Details</h3>
                            <h4>Fill the form</h4>
                        </span>
                    </div>
                    <div>
                        <span>
                            <img src="" alt="">
                        </span>
                        <span>
                            <h3 class="font-weight-bold">Get Tenant</h3>
                            <h4>Get tenants within a few days</h4>
                        </span>
                    </div>
                    <div>
                        <span>
                            <img src="" alt="">
                        </span>
                        <span>
                            <h3 class="font-weight-bold">Sign the Agreement</h3>
                            <h4>Sign agreement and handover your home keys directly to the Tenant</h4>
                        </span>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </section>
        <section class="d-flex flex-column justify-content-center align-items-top p-5 flex-wrap bg-light1 text-center">
            <h2 class="m-2 p-5">Still have a Query ?</h2>
            <div class="m-2 p-5"><button>GET ANSWERS HERE</button></div>
        </section>
</div>
{% endblock %}