{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
    <div id="main" class="p-0">
        <section class="d-flex flex-row justify-content-center align-items-center intro flex-wrap bg-primary1">
            <div class="justify-content-center">
                <img src="images\" alt="ownerhome">
            </div>
            <div class="justify-content-center">
                <div class="flex-column">
                    <h1>Affordable rental homes</h1>
                    <h2>close to work</h2>
                </div>
                <div class="flex-column">
                    <button>SIGN UP</button>
                </div>
            </div>
        </section>
        <section class="d-flex flex-column justify-content-center align-items-top p-2 flex-wrap bg-light1">
            <div class="text-center">
                <h2>How It Works?</h2>
                <h3>What do you have to do? Pick a house you like</h3></div>
            <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                <div>
                    <div>
                        <div>
                            <span>
                                <img src="" alt="">
                            </span>
                            <span>
                                <h3 class="font-weight-bold">Search</h3>
                                <h5>Find a place that fits all your preferences.</h5>
                            </span>
                        </div>
                        <div>
                            <span>
                                <img src="" alt="">
                            </span>
                            <span>
                                <h3 class="font-weight-bold">Visit</h3>
                                <h5>Finalise a time and date to visit the homes you like.</h5>
                            </span>
                        </div>
                        <div>
                            <span>
                                <img src="" alt="">
                            </span>
                            <span>
                                <h3 class="font-weight-bold">Book</h3>
                                <h5>Sign agreement with tenant to lock the bed / room / house.</h5>
                            </span>
                        </div>
                        <div>
                            <span>
                                <img src="" alt="">
                            </span>
                            <span>
                                <h3 class="font-weight-bold">Move-In</h3>
                                <h5>Choose a move-in date and just show up!</h5>
                            </span>
                        </div>
                    </div>

                </div>
                <div>
                        <img src="" alt="for tenant">
                    </div>
            </div>
        </section>
 </div>
 {% endblock %}